<!--<form class="form-signin">
  <h2>Login</h2>
  <label for="username" class="sr-only">Username</label>
  <input type="text" required autofocus id="username" #username placeholder="Username/Email" />
  <label for="password" class="sr-only">Password</label>
  <input type="password" class="form-control" required autofocus id="password" #password placeholder="Password" />
  <button type="button" (click)="login(username.value, password.value)">Login</button>
</form>-->
<h3 class="srp_header">SRP Sign in</h3>
<form class="form-horizontal form-signin">
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" required autofocus class="form-control" id="username" #username placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" required autofocus id="password" #password placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" (click)="login(username.value, password.value)">Sign in</button>
    </div>
  </div>
</form>
